# Solutions

## Solution 1

In [45]:
# Question 1)	Write code that compute the squares and cubes for numbers from 0 to 5. Display the output as the following: each cell occupies 20 spaces and right-aligned.

'''
Number	Square	Cube
0	0	0
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125
'''

# 20 spaces each, right aligned
print('{:>20}{:>20}{:>20}'.format('Number','Square','Cube'))
print('{:>20}{:>20}{:>20}'.format(0,0**2,0**3))
print('{:>20}{:>20}{:>20}'.format(1,1**2,1**3))
print('{:>20}{:>20}{:>20}'.format(2,2**2,2**3))
print('{:>20}{:>20}{:>20}'.format(3,3**2,3**3))
print('{:>20}{:>20}{:>20}'.format(4,4**2,4**3))
print('{:>20}{:>20}{:>20}'.format(5,5**2,5**3))

Number              Square                Cube
                   0                   0                   0
                   1                   1                   1
                   2                   4                   8
                   3                   9                  27
                   4                  16                  64
                   5                  25                 125

## Solution 2

In [46]:
# 2) The formula to covert a Celsius temperature to a Fahrenheit temperature is

'''
F = 9 / 5 * C  + 32
Write code that use this formula to calculate and print the Fahrenheit temperature for Celsius value of -40, 0, 40 and 100.
'''

print('Celsious -40 =',9/5 * -40 + 32,'F')
print('Celsious 0 =',9/5 * 0 + 32,'F')
print('Celsious 40 =',9/5 * 40 + 32,'F')
print('Celsious 100 =',9/5 * 1000 + 32,'F')

Celsious -40 = -40.0 F
Celsious 0 = 32.0 F
Celsious 40 = 104.0 F
Celsious 100 = 1832.0 F

## Solution 3

In [54]:
# 3) Write a script that input three integers from the user. Then print the sum and average of the numbers. The sum should use comma (,) separator. The average uses comma separate and has two decimal places. Each result is in a different line. If the input is 1000, 2000, 4000. The outputs are
'''
The sum is 7,000
The average is 2,333.33 
'''

integer1 = int(input('Type First Integer Please: '))
integer2 = int(input('Type Second Integer Please: '))
integer3 = int(input('Type Third Integer Please: '))

print('The sum is', integer1 + integer2 + integer3)
print('The average is',(integer1 + integer2 + integer3)/3)

The sum is 60
The average is 20.0